@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;500&display=swap');
.tabs-panel{
    max-width: 1170px;
}

.tabs{
    display: inline; /* Отображать как строчный элемент */
    margin-right: 5px; /* Отступ слева */
    border: 1px solid #000; /* Рамка вокруг текста */
    padding: 10px;
    width: 203px;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 19px;
    cursor: pointer;
}

.content{
    max-width: 1170px;
    border: 1px solid black;
    
}

.title{
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 41px;
    display: flex;
    align-items: center;
}

.description{
    box-sizing: border-box;
    max-width: 200px;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
}
img{
    float: right;
    width: 470px;
    height: 500px;
}
