@font-face {
    font-family: "Hind Siliguri";
    src: url("../../../Junk/HindSiliguri-Bold.ttf");
    src: url("../../../Junk/HindSiliguri-Regular.ttf");
}

.container-sales{
    width: 1140px;
    height: 333px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.block{
    background: linear-gradient(257.26deg, #008BF0 -13.2%, #D943C9 130.95%);
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    width: 555px;
    height: 296px;
    display: flex;
    flex-direction: row;
}

.text{
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    
    
}

.description{
    font-family: Hind Siliguri;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 27px; 
    text-transform: uppercase;
    color: #F4F9FC;
    opacity: 0.6;
    margin: 0px;
}

.title{
    font-family: Hind Siliguri;
    font-style: normal;
    font-weight: 600;
    font-size: 31px;
    line-height: 40px;
    color: #F4F9FC;

    margin: 0px;
}

.link{
    font-family: Hind Siliguri;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 27px;
    /* identical to box height, or 193% */
    text-transform: uppercase;
    /* #E6EDF2 */
    color: #F4F9FC;
}
