.container1{
    background: orangered;
    width: 100%;
    color: white;
    font-size: 70px;
}

.b{
    display: flex;
    flex-direction: row;
    width: 100%;

}

.container2{
    background: orangered;
    width: 100%;
    color: white;
    font-size: 70px;
}

.c{
    display: flex;
    flex-direction: column;
    width: 66%;
}

.d{
    display: flex;
    flex-direction: row;
    
}

.container3{
    background: orangered;
    width: 50%;
    color: white;
    font-size: 70px;
}

.container4{
    background: orangered;
    width: 50%;
    color: white;
    font-size: 70px;
}

.container5{
    background: orangered;
    width: 33%;
    color: white;
    font-size: 70px;
}

.ee{
    margin: 10px;
    justify-content: center;
}

@media (max-width: 1200px) {  
    .b{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .c{
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .container2{
        width: 33%;
    }
    .container3{
        width: 50%;
    }
    .container4{
        width: 50%;
    }
    .container5{
        width: 100%;
    }
    .d{
        width: 66%;
    }
}

@media (max-width: 992px) { 
 .b{
     display: flex;
     flex-direction: column;
     width: 100%;
 }
 .c{
     display: flex;
     flex-direction: column;
     width: 100%;
 }
 .d{
     display: flex;
     flex-direction: row;
     width: 100%;
 }
 .container2{
     width: 100%;

 }
 .container3{
     width: 50%;
 }

 .container4{
     width: 50%;
 }

}

@media (max-width: 768px) {  
 
}

@media (max-width: 576px) {  
 .b{
     display: flex;
     flex-direction: column;
 }

 .c{
     display: flex;
     flex-direction:column;

 }
 .d{
     display: flex;
     flex-direction: column;
 }
}